<p id="notice"><%= notice %></p>

<p>
  <strong>Screencast:</strong>
  <%= @video.screencast %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Desccription:</strong>
  <%= @video.description %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
